<section class="about">
  <div class="container">
    <p class="about__subtitle">tradition and love</p>
    <h2 id="about" class="about__title">how it's made?</h2>
    <div class="about__big-block">
      <picture class="about__img">
        <source
          srcset="
            ./images/cow-milk-mobile.png    1x,
            ./images/cow-milk-mobile@2x.png 2x,
            ./images/cow-milk-mobile@3x.png 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/cow-milk-tablet.png    1x,
            ./images/cow-milk-tablet@2x.png 2x,
            ./images/cow-milk-tablet@3x.png 3x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/cow-milk-desktop.png    1x,
            ./images/cow-milk-desktop@2x.png 2x,
            ./images/cow-milk-desktop@3x.png 3x
          "
          media="(max-width: 1600px)"
        />
        <img src="./images/cow-milk-desktop.png" alt="cow and a jug with milk" />
      </picture>
      <div class="about__small-block">
        <ul class="list">
          <li class="list__item list__item--marked">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </li>
          <li class="list__item list__item--bg">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </li>
          <li class="list__item">Aliquam erat volutpat. Aenean accumsan.</li>
        </ul>
        <button type="button" class="button button__about">
          read more
          <svg class="button__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-greater-than"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
