<!-- section advantegs 
    background-color paddings-->
<section class="advantages" id="advantages">
  <!-- section advantegs size limits-->
  <div class="container">
    <!-- section advantegs hidden description for bots-->
    <h2 class="advantages__secdescrp">Advantages</h2>
    <!-- section advantegs area for box with content-->
    <ul class="advantages__itemholder">
      <!-- section advantegs box with content-->
      <li class="advantages__item">
        <div class="advantages__icon1"></div>
        <h3 class="advantages__title">721</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <!-- section advantegs box with content-->
      <li class="advantages__item">
        <div class="advantages__icon2"></div>
        <h3 class="advantages__title advantages__title--textnom">16kg</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <!-- section advantegs box with content-->
      <li class="advantages__item">
        <div class="advantages__icon3"></div>
        <h3 class="advantages__title advantages__title--textnom">84</h3>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
