<!-- section-contacts -->
<section class="contacts-section" id="contacts">
  <div class="contacts-container">
    <h2 class="contacts-section-header">Contacts</h2>
    <ul class="contacts">
      <li class="shop">
        <div class="shop-type--cafe">
          <p class="shop-type__name">cafe</p>
        </div>
        <div class="city">
          <p class="city__place">Chicago</p>
          <p class="city__description">Fusce velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="opening-hours-container">
          <ul class="opening-hours">
            <li class="opening-hours__days">Monday - Friday</li>
            <li class="opening-hours__hours">06:00 am - 10:00 pm</li>
          </ul>
          <ul class="opening-hours">
            <li class="opening-hours__days">Saturday - Sunday</li>
            <li class="opening-hours__hours">08:00 am - 16:00 pm</li>
          </ul>
        </div>
        <ul class="shop-contact">
          <li class="shop-contact__item">
            <a class="shop-contact__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="shop-contact__item">
            <a class="shop-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="shop">
        <div class="shop-type--foodtruck">
          <p class="shop-type__name">foodtruck</p>
        </div>
        <div class="city">
          <p class="city__place">Los Angeles</p>
          <p class="city__description">Fusce velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="opening-hours-container">
          <ul class="opening-hours">
            <li class="opening-hours__days">Monday - Friday</li>
            <li class="opening-hours__hours">06:00 am - 10:00 pm</li>
          </ul>
          <ul class="opening-hours">
            <li class="opening-hours__days">Saturday - Sunday</li>
            <li class="opening-hours__hours">08:00 am - 16:00 pm</li>
          </ul>
        </div>
        <ul class="shop-contact">
          <li class="shop-contact__item">
            <a class="shop-contact__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="shop-contact__item">
            <a class="shop-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="shop">
        <div class="shop-type--cafe">
          <p class="shop-type__name">cafe</p>
        </div>
        <div class="city">
          <p class="city__place">New York</p>
          <p class="city__description">Fusce velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="opening-hours-container">
          <ul class="opening-hours">
            <li class="opening-hours__days">Monday - Friday</li>
            <li class="opening-hours__hours">06:00 am - 10:00 pm</li>
          </ul>
          <ul class="opening-hours">
            <li class="opening-hours__days">Saturday - Sunday</li>
            <li class="opening-hours__hours">08:00 am - 16:00 pm</li>
          </ul>
        </div>
        <ul class="shop-contact">
          <li class="shop-contact__item">
            <a class="shop-contact__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="shop-contact__item">
            <a class="shop-contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-buttons">
      <li class="contact-button">
        <button class="contact-button__button--main" type="button">
          Our Locations<svg class="contact-button__icon--main" width="12" height="12">
            <use href="./images/icons.svg#contacts-section-arrow-1"></use>
          </svg>
        </button>
      </li>
      <li class="contact-button">
        <button class="contact-button__button--secondary" type="button">
          Franchise<svg class="contact-button__icon--secondary" width="12" height="12">
            <use href="./images/icons.svg#contacts-section-arrow-2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
