<section class="reviews">
  <div class="container">
    <div class="slider">
      <div class="slider__slide active">
        <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
          <img
            srcset="./images/emily@2x.png 2x, ./images/emily@3x.png 3x"
            ,
            src="./images/emily.png"
            ,
            alt="picture of Emily from Los Angeles"
          />
        </a>
        <div class="customers-reviews__container">
          <article class="customers-reviews__textbox">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            <div class="customers-reviews__gradient"></div>
          </article>
        </div>
        <div class="customers-reviews__slider">
          <div class="customers-reviews__dots">
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
          </div>
          <div class="customers-reviews__name">Emily, Los Angeles</div>
        </div>
      </div>
      <div class="slider__slide">
        <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
          <img
            srcset="/src/images/margaret@2x.png 2x, /src/images/margaret@3x.png 3x"
            ,
            src="/src/images/margaret.png"
            ,
            alt="picture of Margaret from New York"
          />
        </a>
        <div class="customers-reviews__container">
          <article class="customers-reviews__textbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil vero hic nisi
            minus qui. Tempora quam deleniti laborum! Repellat vel provident voluptas.

            <div class="customers-reviews__gradient"></div>
          </article>
        </div>
        <div class="customers-reviews__slider">
          <div class="customers-reviews__dots">
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
          </div>
          <div class="customers-reviews__name">Margaret, New York</div>
        </div>
      </div>
      <div class="slider__slide">
        <a class="customers-reviews__picturelink" href="https://www.facebook.com/" target="_blank">
          <img
            srcset="/src/images/natalie@2x.png 2x, /src/images/natalie@3x.png 3x"
            ,
            src="/src/images/natalie.png"
            ,
            alt="picture of Natalie from Chicago"
          />
        </a>
        <div class="customers-reviews__container">
          <article class="customers-reviews__textbox">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis ducimus illo ex,
            voluptatem, architecto vel doloribus aspernatur fugiat a corrupti ad.

            <div class="customers-reviews__gradient"></div>
          </article>
        </div>
        <div class="customers-reviews__slider">
          <div class="customers-reviews__dots">
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
            <span class="customers-reviews__dot"></span>
          </div>
          <div class="customers-reviews__name">Natalie, Chicago</div>
        </div>
      </div>
      <div class="slider__nav">
        <div class="slider__navlink active">
          <svg class="slider__icon-house">
            <use href="./images/customer_review/home-icon.svg#icon-home"></use>
          </svg>
        </div>
        <div class="slider__navlink">
          <svg class="slider__icon-house">
            <use href="./images/customer_review/home-icon.svg#icon-home"></use>
          </svg>
        </div>
        <div class="slider__navlink">
          <svg class="slider__icon-house">
            <use href="./images/customer_review/home-icon.svg#icon-home"></use>
          </svg>
        </div>
      </div>
      <div id="nav-button--prev" class="slider__nav-button"></div>
      <div id="nav-button--next" class="slider__nav-button"></div>
    </div>
  </div>
</section>
