<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__headline">Gallery</h2>
    <img
      class="gallery__image"
      alt="Ice creams presentation gallery with various serving suggestions"
      src="./images/gallery-320.png"
      srcset="
        images/gallery-320.png      320w,
        images/gallery-320@2x.png   640w,
        images/gallery-320@3x.png   960w,
        images/gallery-768.png      768w,
        images/gallery-768@2x.png  1536w,
        images/gallery-768@3x.png  2304w,
        images/gallery-1013.png    1013w,
        images/gallery-1013@2x.png 2026w,
        images/gallery-1013@3x.png 3039w
      "
      sizes=" (min-width: 1200px) 1013px, (min-width: 768px) 768px, (min-width: 480px) 320px, (min-width: 480px) 320px, 100vh"
    />
  </div>
</section>
