<section class="hero">
  <div class="container">
    <div class="hero__main-container">
      <picture class="hero__img hero__img--ice">
        <source
          media="(max-width: 768px)"
          srcset="./images/header/big-ice_modal@1x.png, ./images/header/big-ice_modal@2x.png 2x"
        />
        <source
          media="(max-width: 1200px)"
          srcset="./images/header/big-ice_tablet@1x.png, ./images/header/big-ice_tablet@2x.png 2x"
        />
        <source
          srcset="./images/header/big-ice_desktop@1x.png, ./images/header/big-ice_desktop@2x.png 2x"
        />
        <img class="hero__image" src="./images/header/big-ice_modal@1x.png" alt="ice cream" />
      </picture>
      <picture class="hero__img hero__img--circle">
        <source
          media="(max-width: 768px)"
          srcset="./images/header/ellipse-tablet@1x.png, ./images/header/ellipse-tablet@2x.png 2x"
        />
        <source
          srcset="./images/header/ellipse-desktop@1x.png, ./images/header/ellipse-desktop@2x.png 2x"
        />
        <img class="hero__image hero__image--circle" src="./images/header/ellipse-tablet@1x.png" alt="ice cream" />
      </picture>
      <div class="hero__container">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--red">passion</span>
        </h1>
        <div class="hero__btn-wrapper">
          <a class="hero__button-first" href="#products">products</a>
          <a class="hero__button-secound" href="#about">how it's made</a>
        </div>
        <div class="hero__wrapper">
          <picture class="hero__img-milk">
            <source
              media="(max-width: 1200px)"
              srcset="./images/header/milk_tablet@1x.png, ./images/header/milk_tablet@2x.png 2x"
            />
            <source
              srcset="./images/header/milk_desktop@1x.png, ./images/header/milk_desktop@2x.png 2x"
            />
            <img class="hero__image" src="./images/header/milk.png" alt="jug of milk" />
          </picture>
          <div class="hero__wrapper-text">
            <p class="hero__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button type="button" class="hero__btn"></button>
          </div>
        </div>
        <div class="hero__wrapper-top">
          <div class="hero__subcontainer">
            <p class="hero__number">16</p>
            <p class="hero__text">cafes</p>
            <svg class="hero__icon" width="16" height="16">
              <use href="images/icons.svg#icon-ellipse-white"></use>
            </svg>
          </div>
          <div class="hero__subcontainer">
            <p class="hero__number">23</p>
            <p class="hero__text">food trucks</p>
            <svg class="hero__icon" width="16" height="16">
              <use href="images/icons.svg#icon-ellipse-white"></use>
            </svg>
          </div>
        </div>
      </div>
      <picture class="hero__img hero__img--girl">
        <source
          media="(max-width: 1200px)"
          srcset="./images/header/girl_tablet@1x.png, ./images/header/girl_tablet@2x.png 2x"
        />
        <source
          srcset="./images/header/girl_desktop@1x.png, ./images/header/girl_desktop@2x.png 2x"
        />
        <img
          class="hero__image"
          src="./images/header/girl.png"
          alt="girl eating ice cream in a cone"
        />
      </picture>
    </div>
  </div>
</section>

<!-- <section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__box">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--accent">passion</span>
        </h1>
        <div class="hero__button">
          <a class="hero__button-first" href="#products">products</a> -->

<!-- <button class="hero__button-first" type="button">
      <a class="hero__link" href="#products">products</a>  
      </button> -->
<!-- <button class="hero__button-secound" type="button">
        <a class="hero__link--red" href="#about">how it's made</a> 
        </button> -->

<!-- <a class="hero__button-secound" href="#about">how it's made</a>
        </div>
      </div>
      <picture class="hero__picture">
        <source
          srcset="./images/header/big-ice_modal@1x.png 1x, ./images/header/big-ice_modal@2x.png 2x"
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./images/header/big-ice_tablet@1x.png 1x,
            ./images/header/big-ice_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/big-ice_desktop@1x.png 1x,
            ./images/header/big-ice_desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img class="hero__image" src="./images/header/big-ice_modal@1x.png" alt="ice cream" />
      </picture>
      <div class="hero-bioeco">
        <p class="hero-bioeco__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="hero__btn">
          <button type="button" class="hero__btn--image"></button>
        </div>
      </div>
      <div class="hero-numbers">
        <p class="hero-numbers__text hero-numbers__text--cafes">
          <span class="hero-numbers__text--accent">16</span>cafes
        </p>
        <p class="hero-numbers__text hero-numbers__text--food-trucks">
          <span class="hero-numbers__text--accent">23</span>food trucks
        </p>
      </div>
    </div>
  </div>
</section> -->
