<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button class="mobile-menu__button-close js-close-menu">
    <svg width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button class="mobile-menu__button-buy">
    Buy now
    <svg class="mobile-menu__icon-close" width="10" height="10">
      <use href="./images/icons.svg#icon-greater-than"></use>
    </svg>
  </button>
  <ul class="mobile-nav">
    <li class="mobile-nav__item">
      <a class="mobile-nav__link mobile-nav__link--active" href="index.html">Home</a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#advantages">About us</a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#about">How it's made?</a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#products">Our products</a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#contacts">Contact</a>
    </li>
  </ul>
</div>
