.advantages {
  padding: 0 16px 60px 16px;
  background-color: $background-color-darker;
  &__headline {
    display: none;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 32px;
  }
  &__title {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    color: $active-color;
    margin-bottom: 15px;
    &--first {
      &::before {
        content: "";
        display: block;
        margin-bottom: 16px;
        width: 33px;
        height: 50px;
        background-size: contain;
        background-image: url(../images/advantages/advicon1@1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/advantages/advicon1@2x.png);
        }

        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/advantages/advicon1@3x.png);
        }
      }
    }
    &--second {
      text-transform: uppercase;
      &::before {
        content: "";
        display: block;
        margin-bottom: 16px;
        width: 49.69px;
        height: 50px;
        background-size: contain;
        background-image: url(../images/advantages/advicon2@1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/advantages/advicon2@2x.png);
        }

        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/advantages/advicon2@3x.png);
        }
      }
    }
    &--third {
      &::before {
        content: "";
        display: block;
        margin-bottom: 16px;
        width: 44px;
        height: 50px;
        background-size: contain;
        background-image: url(../images/advantages/advicon3@1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/advantages/advicon3@2x.png);
        }

        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/advantages/advicon3@3x.png);
        }
      }
    }
  }
  &__description {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    color: $text-color-bold;
    padding-right: 70px;
  }
}
@include tablet {
  .advantages {
    padding: 0 32px 90px 32px;
    &__list {
      display: flex;
      flex-direction: row;
    }
    &__item {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 98px;
      }
    }
    &__title {
      font-size: 48px;
      line-height: 1.14;
      margin-bottom: 13px;
      &--first {
        &::before {
          margin-bottom: 36px;
        }
      }
      &--second {
        &::before {
          margin-bottom: 36px;
        }
      }
      &--third {
        &::before {
          margin-bottom: 36px;
        }
      }
    }
    &__description {
      font-size: 14px;
      line-height: 1.74;
      padding-right: 0;
    }
  }
}
@include desktop {
  .advantages {
    padding: 0 32px 120px 32px;
    &__item {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 190px;
      }
    }
    &__title {
      font-size: 58px;
      line-height: 1.14;
      margin-bottom: 16px;
      &--first {
        &::before {
          margin-bottom: 40px;
        }
      }
      &--second {
        &::before {
          margin-bottom: 40px;
        }
      }
      &--third {
        &::before {
          margin-bottom: 40px;
        }
      }
    }
    &__description {
      font-size: 16px;
      line-height: 1.76;
      padding-right: 0;
    }
  }
}
