.customers-reviews {
  background-color: $text-color-lighter;
  display: flex;
  flex-direction: column;
  &__title {
    display: none;
  }
  &__picturelink {
    width: 85px;
    height: 85px;
    margin: 80px auto 29px;

    @include tablet {
      margin: 121px auto 19px;
    }
    @include desktop {
      margin: 123px auto 15px;
    }
  }

  &__container {
    height: auto;
    width: 100%;
    background-color: $background-color-review;
    position: relative;
    max-width: 480px;
    min-width: 280px;

    @include tablet {
      max-width: none;
      height: 164px;
      width: 620px;
    }
    @include desktop {
      height: 138px;
      width: 926px;
    }
  }

  &__container::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 61px;
    width: 54px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='54' height='40' viewBox='0 0 54 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.0179 3.99072e-06C42.4286 4.20147e-06 44.7054 0.650411 46.8482 1.95122C48.9911 3.25204 50.7321 5.12196 52.0714 7.56098C53.3571 10 54 12.8726 54 16.1789C54 19.4851 53.1964 22.71 51.5893 25.8537C51.0536 26.9919 50.0893 28.4553 48.6964 30.2439C47.25 32.0325 45.9107 33.5772 44.6786 34.878L39.6161 40L36 33.9837C38.5179 32.4119 40.7411 30.4607 42.6696 28.1301C44.5982 25.8537 45.5625 23.7669 45.5625 21.8699C45.5625 20.8943 45.3482 20.1084 44.9196 19.5122C43.0446 20.8672 40.9554 21.5447 38.6518 21.5447C36.9911 21.5447 35.4107 21.0298 33.9107 20C32.3571 19.0244 31.125 17.7236 30.2143 16.0976C29.25 14.5257 28.7679 12.8997 28.7679 11.2195C28.7679 9.3225 29.3304 7.50678 30.4554 5.77236C31.5268 4.03794 32.9464 2.62873 34.7143 1.54472C36.4286 0.514909 38.1964 3.83149e-06 40.0179 3.99072e-06ZM11.1696 1.46873e-06C13.5804 1.67948e-06 15.8571 0.650408 18 1.95122C20.1429 3.25203 21.8839 5.12195 23.2232 7.56098C24.5089 10 25.1518 12.8726 25.1518 16.1789C25.1518 18.5095 24.8571 20.5962 24.2679 22.439C23.6786 24.336 22.6607 26.3144 21.2143 28.374C19.8214 30.3252 18.5089 31.9512 17.2768 33.252C16.0446 34.607 13.9018 36.8564 10.8482 40L7.23214 33.9837C9.75 32.4119 11.9732 30.4607 13.9018 28.1301C15.8304 25.8537 16.7946 23.7669 16.7946 21.8699C16.7946 20.8943 16.5804 20.1084 16.1518 19.5122C14.2768 20.8672 12.1875 21.5447 9.88393 21.5447C8.22321 21.5447 6.64286 21.0298 5.14286 20C3.58928 19.0244 2.35714 17.7236 1.44643 16.0976C0.482141 14.5257 -1.45297e-06 12.8997 -1.30608e-06 11.2195C-1.14024e-06 9.32249 0.535713 7.50677 1.60714 5.77236C2.67857 4.03794 4.09821 2.62873 5.86607 1.54472C7.58036 0.514906 9.34821 1.30949e-06 11.1696 1.46873e-06Z' fill='%23E1E1E1'/%3E%3C/svg%3E");
    @include tablet {
      top: 30px;
      left: 40px;
    }
    @include desktop {
      top: 32px;
      left: 50px;
    }
  }

  &__textbox {
    width: 100%;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 43px 66px 26px 57px;
    overflow: hidden;

    @include tablet {
      width: 460px;
      height: 83px;
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
      left: 80px;
      top: 47px;
      padding: 0%;
      overflow: visible;
    }
    @include desktop {
      width: 750px;
      height: 52px;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.04em;
      left: 87px;
      top: 47px;
      overflow: visible;
    }
  }
  &__gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 180px;
    max-width: 340px;
    margin: 71px 50px 20px 50px;
    background: repeating-linear-gradient(rgba(225, 225, 225, 1) 0px 1px, transparent 1px 30px);

    @include tablet {
      width: 524px;
      height: 61px;
      right: 36px;
      top: 29px;
      left: -20px;
      margin: 0%;
      max-width: none;
    }
    @include desktop {
      width: 813px;
      height: 32px;
      left: -28px;
      top: 29px;
      right: -35px;
      margin: 0%;
    }
  }
  &__slider {
    width: 172px;
    height: auto;
    margin: 30px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    @include tablet {
      margin: 24px auto 35px;
    }
    @include desktop {
      margin: 15px auto 35px;
    }
  }

  &__dots {
    height: 4px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  &__dot--hiden {
    visibility: hidden;
  }
  &__dot {
    width: 4px;
    height: 4px;
    background-color: #c7133e;
    border-radius: 50%;
    margin: 0px 5px;
  }
  &__name {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    margin: 22px auto 0px;
  }
  &__name--under {
    visibility: hidden;
  }
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  background-color: $text-color-lighter;
  margin: 0px auto;

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    padding: 0px 20px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
    max-width: 480px;
  }
  &__slide.active {
    opacity: 1;
  }
  &__nav-button {
    position: absolute;
    height: 300px;
    width: 50%;
    opacity: 0.8;
    top: 50px;
    cursor: pointer;
    @include tablet {
      height: 164px;
    }
    @include desktop {
      height: 138px;
    }
  }
  &__nav {
    margin: 609px auto 86px;
    display: flex;
    justify-content: center;
    width: 90px;
    height: 12px;

    @include tablet {
      margin: 491px auto 119px;
    }
    @include desktop {
      margin: 461px auto 132px;
    }
  }
  &__navlink {
    display: flex;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px #d9d9d9;
    background-color: #d9d9d9;
    opacity: 0.8;
    margin: 0 9px 0 9px;
    cursor: pointer;
    position: relative;
  }
  &__navlink.active {
    border-radius: 0%;
    background-color: $text-color-lighter;
    border: none;
  }
  &__icon-house {
    width: 12px;
    height: 12px;
    fill: #d31342;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
  }
}
.active > .slider__icon-house {
  visibility: visible;
}
#nav-button--prev {
  top: 331px;
  left: 0;
  transform: translateY(-50%);
  height: 308px;
  @include tablet {
    height: 164px;
    top: 308px;
  }
  @include desktop {
    height: 138px;
    top: 292px;
  }
}

#nav-button--next {
  top: 331px;
  right: 0;
  transform: translateY(-50%);
  height: 308px;
  @include tablet {
    height: 164px;
    top: 308px;
  }
  @include desktop {
    height: 138px;
    top: 292px;
  }
}