.gallery {
  // max-width: 1280px;
  // margin: 0 auto;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 73%, rgba(255, 245, 246, 1) 73%);
  &__image {
    width: 100%;
    height: auto;
  }
  &__headline {
    display: none;
  }
  &__container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 68%, rgba(255, 245, 246, 1) 68%);
    &__container {
      max-width: 768px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    &__container {
      max-width: 1280px;
      padding: 0 64px;
    }
  }
}
