.header {
  background-color: $background-color-header;
  padding: 20px 16px 20px 16px;
  position: relative;
  &__button {
    display: none;
  }
}
.nav {
  display: none;
}
.menu-button {
  position: absolute;
  cursor: pointer;
  top: 36px;
  right: 15px;
}

@include tablet {
  .header {
    padding: 20px 16px 0 16px;
    &__button {
      display: inline;
      position: absolute;
      top: 24px;
      right: 16px;
      width: 160px;
      height: 44px;
      border-radius: 22px;
      background-color: $text-color-lighter;
      border: none;
      color: $active-color;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: background-color;
      &:hover,
      &:focus {
        background-color: $button-active;
      }
      &-icon {
        margin-left: 12px;
      }
    }
  }
  .menu-button {
    top: 36px;
    right: 208px;
  }
}
@include desktop {
  .header {
    display: flex;
    justify-content: center;
    padding: 20px 6px 0 6px;
    &__button {
      position: static;
      right: 0;
      animation: bounce 0.7s ease 2s infinite alternate;
    }
  }
  .nav {
    display: flex;
    margin-right: 141px;
    &__item:not(:last-child) {
      margin-right: 35px;
    }
    &__link {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: $text-color-lighter;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $active-color;
      }
    }
  }
  .logo {
    margin-right: 128px;
    display: flex;
    align-items: center;
  }
  .menu-button {
    display: none;
  }
}
/* Animation */
@keyframes bounce {
  0% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
