.bio-container {
  display: none;
  padding-bottom: 16px;
  &__img {
    display: none;
  }
  &__description {
    display: none;
    &-text {
      display: none;
    }
    &-button {
      display: none;
    }
  }
}
.offer {
  display: none;
}
.hero {
  background-color: $background-color-header;
  padding: 0 16px 0 16px;
  position: relative;
  &__img {
    position: absolute;
    &--circle-mobile {
      right: 0;
    }
    &--circle-tablet {
      display: none;
    }
    &--circle-desktop {
      display: none;
    }
    &--ice-mobile {
      bottom: 0;
      right: 30px;
    }
    &--ice-tablet {
      display: none;
    }
    &--ice-desktop {
      display: none;
    }
    &--girl-tablet {
      display: none;
    }
    &--girl-desktop {
      display: none;
    }
  }
}
.headline {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  &__title {
    text-transform: uppercase;
    font-family: $fontSecondary;
    font-size: 26px;
    line-height: 1.14;
    color: $text-color-lighter;
    margin-bottom: 20px;
    z-index: 2;
  }
  &__red {
    font-size: 48px;
    line-height: 0.95;
    color: $active-color;
  }
  &-buttons {
    display: flex;
    z-index: 2;
    padding-bottom: 154px;

    &__products {
      width: 62.4px;
      height: 24px;
      border-radius: 20px;
      border: none;
      background-color: $active-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      &-font {
        font-size: 8px;
        line-height: 1.25;
        color: $text-color-lighter;
      }
    }
    &__about {
      width: 82.8px;
      height: 24px;
      border-radius: 20px;
      border: none;
      background-color: $text-color-lighter;
      display: flex;
      align-items: center;
      justify-content: center;
      &-font {
        font-size: 8px;
        line-height: 1.25;
        color: $active-color;
      }
    }
  }
}

@include tablet {
  .hero {
    &__img {
      &--circle-mobile {
        display: none;
      }
      &--circle-tablet {
        display: block;
        top: 0;
        left: 245px;
      }
      &--circle-desktop {
        display: none;
      }
      &--ice-mobile {
        display: none;
      }
      &--ice-tablet {
        display: block;
        bottom: 0;
        left: 322px;
      }
      &--ice-desktop {
        display: none;
      }
      &--girl-tablet {
        display: block;
        bottom: 0;
        right: 16px;
      }
      &--girl-desktop {
        display: none;
      }
    }
  }
  .headline {
    padding-top: 60px;
    &__title {
      font-size: 22px;
      line-height: 1.13;
      margin-bottom: 20px;
    }
    &__red {
      font-size: 34px;
      line-height: 0.91;
    }
    &-buttons {
      padding-bottom: 20px;

      &__products {
        width: 62.4px;
        height: 24px;
        margin-right: 9px;
        &-font {
          font-size: 8px;
          line-height: 1.3;
          color: $text-color-lighter;
        }
      }
      &__about {
        width: 82.8px;
        height: 24px;
        &-font {
          font-size: 8px;
          line-height: 1.3;
          color: $active-color;
        }
      }
    }
  }
  .bio-container {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    &__img {
      display: inline;
    }
    &__description {
      display: inline;
      z-index: 3;
      &-text {
        font-size: 8px;
        line-height: 1.5;
        display: block;
        color: $text-color-lighter;
      }
      &-button {
        display: block;
        height: 18px;
        width: 18px;
        margin-top: 7px;
        cursor: pointer;
        background-image: url(../images/header/arrow.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-style: none;
        border-radius: 50%;
        transition-duration: 400ms;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
          transform: scale(1.3);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
      }
    }
  }
  .offer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16px;
    right: 16px;
    &__item {
      margin-bottom: 13px;
      position: relative;
      right: 0;
      top: 0;
    }
    &__number {
      position: relative;
      top: 3px;
      right: -16px;
      z-index: 5;
      font-family: $fontSecondary;
      letter-spacing: 0.04em;
      font-size: 28px;
      line-height: 1.14;
      color: $active-color;
    }
    &__text {
      padding-right: 8px;
      text-align: end;
      font-size: 8px;
      line-height: 1.25;
      color: $text-color-lighter;
    }
    &__icon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
@include desktop {
  .bio-container {
    padding-bottom: 60px;
    &__description {
      margin-top: 40px;
      display: block;
      &-text {
        color: $text-color-lighter;
        font-size: 14px;
        line-height: 1.42;
      }
      &-button {
        height: 26px;
        width: 26px;
        margin-top: 20px;
      }
    }
  }
  .hero {
    position: static;
    &__img {
      position: absolute;
      &--circle-mobile {
        display: none;
      }
      &--circle-tablet {
        display: none;
      }
      &--circle-desktop {
        display: block;
        right: 189px;
      }
      &--ice-mobile {
        display: none;
      }
      &--ice-tablet {
        display: none;
      }
      &--ice-desktop {
        display: block;
        bottom: 0;
        right: 360px;
      }
      &--girl-tablet {
        display: none;
      }
      &--girl-desktop {
        display: block;
        bottom: 0;
        right: 16px;
      }
    }
  }
  .headline {
    padding-top: 60px;
    &__title {
      font-size: 38px;
      line-height: 1.15;
      margin-bottom: 24px;
      z-index: 2;
    }
    &__red {
      font-size: 58px;
      line-height: 0.89;
      color: $active-color;
    }
    &-buttons {
      display: flex;
      z-index: 2;
      padding-bottom: 40px;

      &__products {
        width: 107px;
        height: 40px;
        margin-right: 12px;
        &-font {
          font-size: 14px;
          line-height: 1.28;
          color: $text-color-lighter;
        }
      }
      &__about {
        width: 138px;
        height: 40px;
        &-font {
          font-size: 14px;
          line-height: 1.28;
          color: $active-color;
        }
      }
    }
  }
  .offer {
    top: 67px;
    &__number {
      top: 3px;
      right: -16px;
      font-size: 46px;
      line-height: 1.15;
    }
    &__text {
      position: relative;
      font-size: 14px;
      line-height: 1.3;
      right: 12px;
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
  }
}
