.modal-about {
  top: 50%;
  left: 50%;
  width: 248px;
  height: 392px;
  padding: 12px 28px 28px 28px;
  background-color: $background-color-darker;
  box-shadow: 0px 8px 60px rgba(212, 20, 67, 0.1);
  border-radius: 10px;
  position: fixed;
  transition-property: visibility, transform;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 2;
  visibility: visible;
  display: block;
  &__button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    right: 12px;
    top: 12px;
    fill: $paragraph-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    &:hover,
    &:focus {
      fill: $active-color;
    }
  }
  &__headline {
    text-align: center;
    font-family: $fontSecondary;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 16px;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: $active-color;
    z-index: 4;
  }
  &__video {
    width: 192px;
    height: 108px;
  }
  &__description {
    font-family: $fontPrimary;
    font-size: 12px;
    line-height: 1.4;
    color: $text-color-darker;
    margin-top: 15px;
  }
}
@media screen and (min-width: 320px) {
  .modal-about {
    width: 320px;
    height: 420px;
    &__video {
      width: 264px;
      height: 149px;
    }
    &__description {
      font-size: 14px;
    }
  }
}
@include tablet {
  .modal-about {
    padding: 12px 32px 32px 32px;
    width: 568px;
    height: 510px;
    &__headline {
      font-size: 20px;
      margin-bottom: 32px;
      margin-top: 20px;
    }
    &__video {
      width: 504px;
      height: 284px;
    }
  }
}
@include desktop {
  .modal-about {
    width: 680px;
    height: 560px;
    &__headline {
      font-size: 25px;
    }
    &__video {
      width: 616px;
      height: 347px;
    }
  }
}
