.modal-locations {
  top: 50%;
  left: 50%;
  width: 248px;
  height: 365px;
  padding: 12px 28px 28px 28px;
  background-color: $background-color-darker;
  box-shadow: 0px 8px 60px rgba(212, 20, 67, 0.1);
  border-radius: 10px;
  position: fixed;
  transition-property: visibility, transform;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 2;
  visibility: visible;
  animation-name: modalFrame;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  text-align: center;
  &__button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    right: 12px;
    top: 12px;
    fill: $paragraph-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    &:hover,
    &:focus {
      fill: $active-color;
    }
  }
  &__headline {
    text-align: center;
    font-family: $fontSecondary;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-top: 16px;
    text-transform: uppercase;
    color: $active-color;
  }
  &__map {
    width: 192px;
    height: 199px;
    margin-bottom: 24px;
  }
  &__button-map {
    width: 160px;
    height: 40px;
    border-radius: 22px;
    background-color: $active-color;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
  }
  &__link {
    color: $text-color-lighter;
  }
}
@media screen and (min-width: 320px) {
  .modal-locations {
    width: 320px;
    height: 365px;
    &__map {
      width: 264px;
      height: 199px;
      margin-bottom: 24px;
    }
  }
  @include tablet {
    .modal-locations {
      padding: 12px 32px 32px 32px;
      width: 568px;
      height: 458px;
      &__headline {
        font-size: 20px;
        margin-bottom: 32px;
        margin-top: 20px;
      }
      &__map {
        width: 504px;
        height: 260px;
        margin-bottom: 32px;
      }
      &__button-map {
        width: 150px;
        font-size: 14px;
      }
    }
  }
  @include desktop {
    .modal-locations {
      padding: 12px 60px 32px 60px;
      width: 680px;
      height: 527px;
      &__headline {
        font-size: 25px;
      }
      &__map {
        width: 560px;
        height: 315px;
        margin-bottom: 32px;
      }
      &__button-map {
        width: 160px;
        font-size: 16px;
      }
    }
  }
}
