.products {
  padding: 0 16px 60px 16px;
  display: flex;
  justify-content: center;
  &__subtitle {
    font-family: $fontSecondary;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: $paragraph-color;
    margin-bottom: 15px;
  }
  &__title {
    font-family: $fontSecondary;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $active-color;
    margin-bottom: 148px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    border-radius: 24px;
    max-width: 280px;
    text-align: center;
    position: relative;
    &--ice-cream {
      background-color: $background-color-header;
      margin-bottom: 140px;
    }
    &--ice-coffee {
      margin-bottom: 140px;
      background-color: #f0d1a5;
    }
    &--milkshakes {
      background-color: #c2e297;
    }
  }
  &__name {
    font-family: $fontSecondary;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 160px 0 30px 0;
    color: $background-color-lighter;
    &--ice-cream {
      &::before {
        content: "";
        position: absolute;
        top: -140px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 280px;
        background-image: url(../images/product-ice-cream-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product-ice-cream-mobile@2x.png);
        }

        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/product-ice-cream-mobile@3x.png);
        }
      }
      &::after {
        content: "...";
        display: block;
        margin-top: 15px;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
    &--ice-coffee {
      &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 280px;
        top: -140px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/product-coffee-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product-coffee-mobile@2x.png);
        }

        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/product-coffee-mobile@3x.png);
        }
      }
      &::after {
        content: "...";
        display: block;
        margin-top: 15px;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
    &--milkshakes {
      &::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 280px;
        top: -140px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/product-milkshake-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product-milkshake-mobile@2x.png);
        }

        @media (min-device-pixel-ratio: 3),
          (min-resolution: 288dpi),
          (min-resolution: 3dppx) {
          background-image: url(../images/product-milkshake-mobile@3x.png);
        }
      }
      &::after {
        content: "...";
        display: block;
        margin-top: 15px;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
  }
  &__description {
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    color: $background-color-lighter;
    padding: 0 40px 32px 40px;
  }
  &__button {
    height: 40px;
    width: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    background-image: url(../images/header/arrow.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    border-radius: 50%;
    transition-duration: 400ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      transform: scale(1.3);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
@include tablet {
  .products {
    padding: 0 32px 60px 32px;
    &__subtitle {
      font-size: 26px;
      line-height: 1.14;
      margin-bottom: 18px;
    }
    &__title {
      font-size: 48px;
      line-height: 1.14;
      margin-bottom: 158px;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
    }
    &__item {
      max-width: 224px;
      &--ice-cream {
        margin-bottom: 0;
      }
      &--ice-coffee {
        margin-bottom: 0;
      }
    }
    &__name {
      padding: 118px 0 30px 0;
      &--ice-cream {
        &::before {
          width: 224px;
          height: 224px;
          background-image: url(../images/product-ice-cream-tablet.png);
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/product-ice-cream-tablet@2x.png);
          }

          @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
            background-image: url(../images/product-ice-cream-tablet@3x.png);
          }
        }
      }
      &--ice-coffee {
        &::before {
          width: 224px;
          height: 224px;
          background-image: url(../images/product-coffee-tablet.png);
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/product-coffee-tablet@2x.png);
          }

          @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
            background-image: url(../images/product-coffee-tablet@3x.png);
          }
        }
      }
      &--milkshakes {
        &::before {
          width: 224px;
          height: 224px;
          background-image: url(../images/product-milkshake-tablet.png);
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/product-milkshake-tablet@2x.png);
          }

          @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
            background-image: url(../images/product-milkshake-tablet@3x.png);
          }
        }
      }
    }
    &__description {
      padding: 0 32px 32px 32px;
    }
    &__button {
      height: 35px;
      width: 35px;
    }
  }
}
@include desktop {
  .products {
    padding: 0 32px 60px 32px;
    &__subtitle {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 16px;
    }
    &__title {
      font-size: 58px;
      line-height: 1.13;
      margin-bottom: 281px;
    }
    &__list {
      gap: 32px;
    }
    &__item {
      max-width: 368px;
      &--ice-cream {
        margin-bottom: 0;
      }
      &--ice-coffee {
        margin-bottom: 0;
      }
    }
    &__name {
      padding: 165px 0 30px 0;
      font-size: 30px;
      line-height: 1.14;
      &--ice-cream {
        &::before {
          top: -261px;
          width: 368px;
          height: 394px;
          background-image: url(../images/product-ice-cream-desktop.png);
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/product-ice-cream-desktop@2x.png);
          }

          @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
            background-image: url(../images/product-ice-cream-desktop@3x.png);
          }
        }
      }
      &--ice-coffee {
        &::before {
          top: -261px;
          width: 368px;
          height: 394px;
          background-image: url(../images/product-coffee-desktop.png);
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/product-coffee-desktop@2x.png);
          }

          @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
            background-image: url(../images/product-coffee-desktop@3x.png);
          }
        }
      }
      &--milkshakes {
        &::before {
          top: -261px;
          width: 368px;
          height: 394px;
          background-image: url(../images/product-milkshake-desktop.png);
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/product-milkshake-desktop@2x.png);
          }

          @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
            background-image: url(../images/product-milkshake-desktop@3x.png);
          }
        }
      }
    }
    &__description {
      padding: 0 64px 60px 64px;
      font-size: 16px;
      line-height: 1.76;
    }
    &__button {
      height: 40px;
      width: 40px;
      margin-bottom: 60px;
    }
  }
}
