@use "variables";
@use "mixin";
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  outline: none;
}
ul {
  list-style: none;
}
body {
  font-family: variables.$fontPrimary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
}
.container {
  width: 100%;
  max-width: 320px;
  &__header {
    display: inline;
    justify-content: flex-start;
  }
  &__about {
    margin: 0 auto;
  }
  &__advantages {
    margin: 0 auto;
  }
  &__reviews {
    margin: 0 auto;
  }
  &--locations {
    margin: 0 auto;
  }
}
@include mixin.tablet {
  .container {
    max-width: 768px;
    &__header {
      display: flex;
    }
    &__products {
      margin: 0 auto;
    }
  }
}

@include mixin.desktop {
  .container {
    max-width: 1200px;
    &__header {
      align-items: center;
    }
    &__hero {
      position: relative;
      margin: 0 auto;
    }
    &__products {
      margin: 0 auto;
    }
  }
}
